@charset "UTF-8";
/* Scss Document */
* {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体";
  box-sizing: border-box; }

body {
  background-image: url("..background.jpg");
  background-repeat: repeat; }

.container {
  max-width: 800px;
  margin: 0 auto; }

@media screen and (max-width: 940px) {
  .container {
    max-width: 95%;
    margin: 0 auto; } }
header {
  background-image: url("mvImg.jpg");
  background-size: cover;
  width: 100%;
  height: 400px;
  text-align: center;
  color: #FFF;
  display: flex;
  align-items: center;
  margin-bottom: 100px; }
  header h1 {
    margin-bottom: 20px;
    text-shadow: 0px 0px 10px #000000; }
  header .headerSubText {
    font-size: 22px;
    margin-bottom: 40px;
    text-shadow: 0px 0px 10px #000000; }
  header .rankBtn a {
    font-size: 22px;
    width: 300px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    text-decoration: none;
    border-radius: 20px;
    color: #FFF;
    background-image: linear-gradient(#7d0000 0%, #5f0000 100%);
    color: #FFF;
    font-weight: bold; }

@media screen and (max-width: 940px) {
  header {
    height: 200px;
    margin-bottom: 50px; }
    header h1 {
      font-size: 18px;
      margin-bottom: 10px; }
    header .headerSubText {
      font-size: 14px;
      margin-bottom: 20px;
      text-shadow: 0px 0px 10px #000000; }
    header .rankBtn a {
      font-size: 18px;
      width: 200px;
      height: 50px;
      line-height: 50px; } }
#banner {
  text-align: center;
  margin-bottom: 80px; }
  #banner img {
    width: 80%;
    object-fit: contain; }

@media screen and (max-width: 940px) {
  #banner {
    margin-bottom: 40px; }
    #banner img {
      width: 100%;
      object-fit: contain; } }
#selectCasino {
  color: #FFF;
  margin-bottom: 80px; }
  #selectCasino ul {
    padding: 1em 0 1em 2em;
    font-weight: bold;
    font-size: 18px; }
    #selectCasino ul li span {
      background: linear-gradient(transparent 50%, #7c0000 50%); }
  #selectCasino .h2Img {
    width: 50%;
    object-fit: contain; }

@media screen and (max-width: 940px) {
  #selectCasino {
    margin-bottom: 40px; }
    #selectCasino ul {
      padding: 1em 0 1em 1em;
      font-size: 16px; }
    #selectCasino .h2Img {
      width: 70%; } }
#ranking {
  margin-bottom: 80px; }
  #ranking .h2Img {
    width: 70%;
    object-fit: contain;
    margin-bottom: 18px; }
  #ranking .rankBlock:not(:last-child) {
    margin-bottom: 30px; }
  #ranking .rankBlock {
    background-color: #FFF; }
    #ranking .rankBlock .rankInner {
      padding: 30px; }
      #ranking .rankBlock .rankInner .topTxt {
        font-weight: bold;
        font-size: 20px;
        display: inline;
        background: linear-gradient(transparent 50%, #fffbc7 50%); }
      #ranking .rankBlock .rankInner .subTxt {
        margin-top: 10px;
        margin-bottom: 30px; }
        #ranking .rankBlock .rankInner .subTxt .detailInner {
          display: none; }
        #ranking .rankBlock .rankInner .subTxt .detail {
          color: #555555; }
      #ranking .rankBlock .rankInner .secondBlock {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        margin-bottom: 30px; }
        #ranking .rankBlock .rankInner .secondBlock .rightBlock {
          width: 55%;
          border: solid 1px #e3e3e3;
          padding: 20px; }
          #ranking .rankBlock .rankInner .secondBlock .rightBlock .rating {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: space-between; }
            #ranking .rankBlock .rankInner .secondBlock .rightBlock .rating p {
              font-weight: bold;
              position: relative;
              background-color: #FFF;
              z-index: 1; }
          #ranking .rankBlock .rankInner .secondBlock .rightBlock .rating:not(:last-child) {
            margin-bottom: 15px; }
          #ranking .rankBlock .rankInner .secondBlock .rightBlock .rating::after {
            content: "";
            border-top: 1px solid #e3e3e3;
            width: 100%;
            position: absolute; }
          #ranking .rankBlock .rankInner .secondBlock .rightBlock .fa-star {
            color: #ffdd40;
            font-size: 16px; }
          #ranking .rankBlock .rankInner .secondBlock .rightBlock .stars {
            position: relative;
            background-color: #FFF;
            z-index: 1; }
          #ranking .rankBlock .rankInner .secondBlock .rightBlock .empty {
            color: #e3e3e3; }
        #ranking .rankBlock .rankInner .secondBlock .leftBlock {
          width: 38%; }
          #ranking .rankBlock .rankInner .secondBlock .leftBlock .siteImg {
            width: 100%;
            object-fit: contain;
            margin-bottom: 20px; }
          #ranking .rankBlock .rankInner .secondBlock .leftBlock .pay {
            display: flex;
            justify-content: space-between; }
            #ranking .rankBlock .rankInner .secondBlock .leftBlock .payInner {
              width: 48%;
              text-align: center;
              border: solid 1px #e3e3e3; }
              #ranking .rankBlock .rankInner .secondBlock .leftBlock .payInner p {
                padding: 5px;
                font-weight: bold;
                background-color: #e3e3e3; }
              #ranking .rankBlock .rankInner .secondBlock .leftBlock .payInner .img {
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center; }
    #ranking .rankBlock1 {
      border: #e99e2b solid 5px; }
      #ranking .rankBlock1 h3 {
        background-image: linear-gradient(#e89c29 0%, #d96d0c 100%); }
    #ranking .rankBlock2 {
      border: #888888 solid 5px; }
      #ranking .rankBlock2 h3 {
        background-image: linear-gradient(#888888 0%, #515151 100%); }
    #ranking .rankBlock3 {
      border: #bb642a solid 5px; }
      #ranking .rankBlock3 h3 {
        background-image: linear-gradient(#bb642a 0%, #902d0a 100%); }
    #ranking .rankBlock45 {
      border: #780000 solid 5px; }
      #ranking .rankBlock45 h3 {
        background-image: linear-gradient(#780000 0%, #410000 100%); }
    #ranking .rankBlock h3 {
      height: 60px;
      font-size: 26px;
      display: flex;
      color: #FFF;
      align-items: center; }
      #ranking .rankBlock h3 img {
        width: 80px;
        object-fit: contain;
        margin-right: 1em; }

@media screen and (max-width: 940px) {
  #ranking {
    margin-bottom: 40px; }
    #ranking .h2Img {
      width: 100%; }
    #ranking .rankBlock h3 {
      font-size: 18px; }
      #ranking .rankBlock h3 img {
        width: 60px;
        margin-right: 10px; }
    #ranking .rankBlock .rankInner {
      padding: 15px; }
      #ranking .rankBlock .rankInner .topTxt {
        font-size: 16px; }
      #ranking .rankBlock .rankInner .subTxt {
        margin-bottom: 10px; }
      #ranking .rankBlock .rankInner .secondBlock {
        padding-top: 10px;
        margin-bottom: 10px;
        flex-wrap: wrap; }
        #ranking .rankBlock .rankInner .secondBlock .leftBlock {
          width: 100%;
          margin-bottom: 10px; }
          #ranking .rankBlock .rankInner .secondBlock .leftBlock .siteImg {
            margin-bottom: 10px; }
        #ranking .rankBlock .rankInner .secondBlock .rightBlock {
          width: 100%; }
          #ranking .rankBlock .rankInner .secondBlock .rightBlock .rating p {
            font-size: 12px; }
          #ranking .rankBlock .rankInner .secondBlock .rightBlock .rating:not(:last-child) {
            margin-bottom: 10px; }
          #ranking .rankBlock .rankInner .secondBlock .rightBlock .fa-star {
            font-size: 14px; } }
.campaign {
  margin-bottom: 30px; }
  .campaign .redTxt {
    color: #7d0000; }
  .campaign h4 {
    color: #FFF;
    padding: 5px;
    font-size: 18px;
    background-color: #7d0000;
    margin-bottom: 10px; }
  .campaign ul {
    padding-left: 1em; }
    .campaign ul li {
      font-weight: bold;
      list-style: none;
      line-height: 30px; }
    .campaign ul li:before {
      content: "●";
      color: #7d0000;
      margin-right: 1em; }

@media screen and (max-width: 940px) {
  .campaign {
    margin-bottom: 10px; }
    .campaign h4 {
      font-size: 16px; }
    .campaign ul {
      padding-left: 0; }
      .campaign ul li {
        font-size: 16px; } }
.point {
  border: 1px solid #7d0000;
  padding: 10px 20px;
  margin-bottom: 30px; }
  .point h4 {
    font-size: 18px;
    color: #7d0000;
    margin-bottom: 10px; }
  .point .fa-hand-point-right {
    font-size: 26px;
    margin-right: 10px; }
  .point ul li {
    list-style: none; }
  .point ul li:not(:last-child) {
    margin-bottom: 10px; }
  .point ul li:before {
    content: "●";
    color: #7d0000;
    margin-right: 1em; }

@media screen and (max-width: 940px) {
  .point {
    margin-bottom: 10px; }
    .point h4 {
      font-size: 16px; }
    .point .fa-hand-point-right {
      font-size: 18px;
      margin-right: 5px; }
    .point ul {
      padding-left: 0; }
      .point ul li {
        font-size: 14px; } }
.btnBlock ul {
  display: flex;
  justify-content: space-around; }
  .btnBlock ul li {
    list-style: none;
    display: inline-block; }
    .btnBlock ul li a {
      height: 80px;
      display: inline-block;
      color: #FFF;
      font-weight: bold;
      text-decoration: none;
      border-radius: 20px;
      line-height: 80px; }
.btnBlock .grayBtn {
  background-image: linear-gradient(#6e6e6e 0%, #3b3a3a 100%);
  padding: 0 50px;
  font-size: 20px; }
.btnBlock .redBtn {
  background-image: linear-gradient(#7d0000 0%, #5f0000 100%);
  padding: 0 80px;
  font-size: 24px; }

@media screen and (max-width: 940px) {
  .btnBlock ul {
    flex-wrap: wrap; }
    .btnBlock ul li {
      text-align: center; }
    .btnBlock ul li:nth-child(1) {
      order: 2;
      width: 50%; }
    .btnBlock ul li:nth-child(2) {
      width: 95%;
      order: 1;
      margin-bottom: 15px; }
  .btnBlock .grayBtn {
    padding: 0;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    width: 100%; }
  .btnBlock .redBtn {
    padding: 0;
    font-size: 20px;
    width: 100%;
    height: 60px;
    line-height: 60px; } }
